<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Car Dealer"/>
        <meta name="author" content="Tomasz Szczucki"/>

        <title>JSF Bootstrap Tutorial</title>

        <!-- Bootstrap core CSS -->
        <h:outputStylesheet name="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <f:verbatim>
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->    
        </f:verbatim>
        <ui:insert name="head"/>
    </h:head>
    <h:body>
        <ui:insert name="standard_header">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Car Dealer</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="index.xhtml">Home</a></li>
                            <li><a href="show_cars.xhtml">Show cars</a></li>
                            <li><a href="add_car.xhtml">Add car</a></li>
                            <li><a href="show_clients.xhtml">Show clients</a></li>
                            <li><a href="add_client.xhtml">Add client</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </ui:insert>
        <ui:insert name="content"/>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <h:outputScript name="bootstrap-3.3.7-dist/js/bootstrap.min.js"/>
    </h:body>
</html>

