<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>
            Thank you for adding your comment to the guestbook, #{guestBook.firstName} #{guestBook.lastName} <br/>
            Chosen country is: #{guestBook.country} <br/>
            Your gender is #{guestBook.gender}  <br/>
            Your favourite foods: 
            <ul>
                <ui:repeat value="#{guestBook.favFoods}" var="food">
                    <li>#{food}</li>
                </ui:repeat>
            </ul>
        </div>
        <div>
            <h:dataTable value="#{guestBook.favFoods}" var="food">
                <h:column>
                    #{food}
                </h:column>
            </h:dataTable>
        </div>
    </body>
</html>
