<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition template="/WEB-INF/include/standard_template.xhtml">
        <ui:define name="head">
            <title>Car Dealer</title>
            <!-- Custom styles for this template -->
            <h:outputStylesheet name="css/starter-template.css"/>
        </ui:define>
        
        <ui:define name="content">
            
            <div class="container">
                <div class="starter-template">
                <br/><br/>
                    <h1>Car Dealer</h1>
                    <p class="lead">Welcome to the Car Dealer</p>
                </div>
                <div>
                    <img src="https://www.carzoos.com.au/assets/media/pic-red-car-2f66c208ed26d8f44c5d9869791d8e045851a15f7f0d91ea4e954430eae9dfb4.jpg" width="95%" height="95%"></img>
                </div>
            </div><!-- /.container -->
        </ui:define>
    </ui:composition> 
</html>
