<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/WEB-INF/include/standard_template.xhtml">
        <ui:define name="head">
            <title>Car Dealer</title>
            <!-- Custom styles for this template -->
            <h:outputStylesheet name="css/starter-template.css"/>
        </ui:define>

        <ui:define name="content">

            <div class="container">
                <div class="starter-template">
                <br/><br/>
                <h1>Show cars</h1>
                <h:form>

                        <h:dataTable value="#{showCarController.showCars()}" var="carDTO"
                                     styleClass="order-table"
                                     headerClass="order-table-header"
                                     rowClasses="order-table-odd-row,order-table-even-row"
                                     >

                            <h:column>
                                <f:facet name="header">Car ID</f:facet>
    				#{carDTO.id}
                            </h:column>

                            <h:column>
                                <f:facet name="header">Brand</f:facet>
    				#{carDTO.brand}
                            </h:column>

                            <h:column>
                                <f:facet name="header">Model</f:facet>
    				#{carDTO.model}
                            </h:column>
                            
                            <h:column>
                                <f:facet name="header">Year of production</f:facet>
    				#{carDTO.productionYear}
                            </h:column>
                            
                            <h:column>
                                <f:facet name="header">Mileage</f:facet>
    				#{carDTO.mileage}
                            </h:column>
                            
                            <h:column>
                                <f:facet name="header">VIN</f:facet>
    				#{carDTO.vin}
                            </h:column>
                            
                            <h:column>
                                <f:facet name="header">OC number</f:facet>
    				#{carDTO.ocNumber}
                            </h:column>
                            
                            <h:column>
                                <f:facet name="header">Registration number</f:facet>
    				#{carDTO.regNumber}
                            </h:column>
                            
                            <h:column>
                                <f:facet name="header">Fuel type</f:facet>
    				#{carDTO.fuel}
                            </h:column>
                            
                            <h:column>
                                <f:facet name="header">CC</f:facet>
    				#{carDTO.engineCC}
                            </h:column>
                            
                            <h:column>
                                <f:facet name="header">Engine power</f:facet>
    				#{carDTO.power}
                            </h:column>
                            
                            <h:column>
                                <f:facet name="header">Gearbox</f:facet>
    				#{carDTO.gearbox}
                            </h:column>
                                                        
                            <h:column>
                                <f:facet name="header">Status</f:facet>
    				#{carDTO.status}
                            </h:column>
                            
                            <h:column>
                                <f:facet name="header">Price</f:facet>
    				#{carDTO.price}
                            </h:column>
                            
                                <h:column>
                                    <!--<h:link value="DETAILS" outcome="car_details.xhtml" >
                                        <f:param name="car_id" value="#{carDTO.id}" />
                                    </h:link>
                                    <br/>
                                    <h:link value="SELL" outcome="sell_car.xhtml" >
                                        <f:param name="car_id" value="#{carDTO.id}" />
                                    </h:link>-->
                                    
                                    <h:commandButton   value="DETAILS" 
                                                       action="#{showCarController.goToPageWithObject(carDTO,'carDTO','car_details.xhtml')}" >
                                     
                                    </h:commandButton>
                                    <h:commandButton   value="SELL" 
                                                       action="#{showCarController.goToPageWithObject(carDTO,'carDTO','sell_car.xhtml')}">
                                        <f:setPropertyActionListener 
                                            target="#{carDetailsController.carDTO}" 
                                            value="#{carDTO}" />
                                    </h:commandButton>
                                                                
                                </h:column>
                            

                        </h:dataTable>
                </h:form>
                </div>
            </div><!-- /.container -->
        </ui:define>
    </ui:composition> 
</html>

<!--
Comment <h:inputTextarea value="#{addCarController.carDTO.model}"/><br/>


                        <h:selectOneMenu value="#{guestBook.country}">
                            <f:selectItems value="#{guestBook.countries}"/>
                            <f:selectItem itemValue="Mars" itemLabel="Mars (outside Earth)"/>
                            <f:selectItem itemValue="Jupiter" itemLabel="Jupiter (outside Earth)"/>
                        </h:selectOneMenu>
                        <br/>    
                        <h:selectOneRadio value ="#{guestBook.gender}">
                            <f:selectItem itemValue="male" itemLabel="Male"/>
                            <f:selectItem itemValue="female" itemLabel="Female"/>
                        </h:selectOneRadio>
                        <br/>
                        <h:selectManyCheckbox value="#{guestBook.favFoods}">
                            <f:selectItems value="#{guestBook.foods}"/>
                        </h:selectManyCheckbox>
                        <br/> 
-->


